/* Origin Styles */

* {
  font-family: Helvetica, Arial, sans-serif;
}

p {
  font-size: 16px;
}

h1 {
  font-size: 100px;
  font-weight: bold;
  color: khaki;
}

h2 {
  font-size: 32px;
  font-weight: bold;
  color: white;
}

h3 {
  font-size: 18px;
}

/* Class Styles  */

.header-logo {
  background-image: url(assets/pattern.webp);
}

h1.header-logo {
  text-align: center;
}

.section-heading.brushes {
  background-color: mediumspringgreen;
}

.section-heading.frames {
  background-color: lightcoral;
}

.section-heading.paint {
  background-color: skyblue;
}

.highlight {
  color: blue;
  font-weight: bold;
}

/*Mediavine Mobile Width Adjustment */

@media only screen and (max-width: 359px) {
  #content {
    padding-left: 10px !important;

    padding-right: 10px !important;
  }

  .inside-article {
    padding-left: 0px !important;

    padding-right: 0px !important;
  }
}
